.container {
  display: flex;
  height: 90vh;
}

.shopList {
  flex: 1;
  margin: 0.5rem;
}

.productList {
  flex: 3;
  margin: 0.5rem;
}

.element {
  margin: 8px;
  padding: 1rem;
  font-size: 14pt;
  border: inherit;
  border-radius: inherit;
}
