.containerVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .containerHorizontal * {
  width: 40%;
  margin: 1rem;
} */

.containerHorizontal {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  width: 100%;
  height: inherit;
  /* flex-direction: row;
  flex-wrap: wrap; */
}
