:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}
